header{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    line-height: 0.88rem;
    font-size: 0.38rem;
    color: #4ebbfe;
    display: flex;
    justify-content: space-between;
}
header >a{
    color: #4ebbfe;
}
.image{
    width: 100%;
    height: 8rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 43px 0px  rgba(41, 167, 255, 0.13);
}
.image a{
    width: 3.01rem;
    height: 3.62rem;
    display: block;
}
.content{
    width: 100%;
    height: auto;
    margin-left: 0.22rem;
    margin-right: 0.22rem;
}
.contentList1{
    position: relative;
    box-sizing: border-box;
    padding-bottom: 0.25rem;
}
.content h1{
    font-size: 0.3rem;
    font-weight: normal;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 0.1rem;
}
.content p{
    font-size: 0.22rem;
    color:#000000;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    opacity: 0.3;
    margin-bottom: 0.1rem;
}
.contentList1 .content1{
    font-size: 0.26rem;
    color: #fbb548;
    margin-right: 0.3rem;
    margin-bottom: 0.01rem;
}
.contentList1 .content2{
    padding: 0.08rem 0.2rem;
    background-color: #41b2fc;
    border-radius: 0.18rem;
    opacity: 0.5;
    font-size: 0.2rem;
    color: #41b2fc;
}
.contentList1 .content3{
    padding: 0.08rem 0.2rem;
    background-color: #41b2fc;
    border-radius: 0.18rem;
    opacity: 0.5;
    font-size: 0.2rem;
    color: #36d681;
}
.contentList1 .content4{
    font-size: 0.2rem;
    color: #000000;
    opacity: 0.3;
    position: absolute;
    right: 0.5rem;
    bottom: 0.11rem;
}
.contentList2{
    width: 100%;
    height: 0.8rem;
    box-sizing: border-box;
    padding:0.1rem 0 0.1rem 0.6rem;
    position: relative;
    display: flex;
    align-items: center;
}
.contentList2 img{
    width: 0.49rem;
    height:0.24rem;
    position: absolute;
    top: 0.37rem;
    left: 0;
}
.contentList2 .content1{
    width: 0.5rem;
    height: 0.24rem;
    font-size: 0.24rem;
    color: #ff844e;
}
.contentList2 .content2{
    width: 1.84rem;
    height: 0.39rem;
    font-size: 0.24rem;
    color: #fbfeff;
    margin-left: 0.2rem;
    padding: 0.08rem 0.27rem;
    background: #ff933b;
    border-radius: 0.2rem;
}
.contentList3{
    width: 100%;
    height: 0.6rem;
    padding-top: 0.1rem;
    box-sizing: border-box;
}
.contentList3 > span{
    font-size: 0.24rem;
    line-height: 1.5;
    color: #41b2fc;
    padding-left: 0.2rem;
    margin-right: 0.1rem;
    position: relative;
}
.contentList3 > span::before{
    centent:"";
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background: #4ebbfe;
}
.contentList4{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 0.43rem;
}
.contentList4 .title{
    width: 7.02rem;
    height: 0.76rem;
    display: flex;
    justify-content: space-between;
}
.contentList4 .title > span{
    font-size: 0.32rem;
    color: #41b2fc;
}
.content4List{
    height: auto;
    padding: 0 0.22rem;
    position: relative;
}
.yonghuContent {
    height: 1.97rem;
    display: flex;
}
.yonghuContent .yonghuImage{
    width: 0.86rem;
    height: 0.86rem;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    flex: none;
}
.yonghuContent .yonghuList{
    height: auto;
    flex: 1;
    position: relative;
    margin-left: 0.2rem;
}
.yonghuList span{
    margin-top: 0.3rem;
    text-align: center;
    font-size: 0.2rem;
    color: #cfcfcf;
}
.yonghuList .pinglun{
    font-size: 0.26rem;
    color: #000000;
    opacity: 0.6;
}
.yonghuList .address{
    font-size: 0.22rem;
    color: #000000;
    opacity: 0.3;
}
.yonghuList .Date{
    font-size: 0.22rem;
    color: #9ed5ff;
    position: absolute;
    top: 0;
    right: 0.8rem;
}
.yonghuList .Image{
    width: 1.8rem;
    height: 1.01rem;
    display: block;
}
.contentList5{
    width: 100%;
    height: auto;
    padding-top:0.24rem ;
}
.contentList5 > span{
    font-size: 0.32rem;
    color: #35db82;
}
.contentList5 > span > b{
    font-size: 0.32rem;
    color: #4f5b64;
}
.contentList5 .Image{
    width: 100%;
    height: 3rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Image> a{
    width: 2rem;
    height: 2rem;
    display: block;
}
.contentList6{
    width: 100%;
    height: auto;
    padding:0.24rem 0 0.24rem 0;
}
.contentList6 > span{
    font-size: 0.32rem;
    color: #35db82;
}
.contentList6 > span > b{
    font-size: 0.32rem;
    color: #4f5b64;
}
.content6List{
    height: 7rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.content6List >li{
    width: 2rem;
    height:1.94rem ;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content6List >li >a{
    width: 100%;
    height: 100%;
}
.content6List >li >a div{
    width: 1.13rem;
    height: 1.13rem;
}
.content6List .shangpinMessage .Name{
    font-size: 0.26rem;
    color: #000000;
    opacity: 0.6;
}
.content6List .shangpinMessage .Price{
    font-size: 0.28rem;
    color: #fbb548;
}
footer{
    position: fixed;/*定到最下面*/
    left: 0;
    bottom: 0;
    height: 0.98rem;
    width: 100%;
    background: #f1f9ff;
    padding: 0 0.22rem;
    -webkit-box-sizing:border-box ;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
footer >a{
    width: 0.7rem;
    height: 100rem;
    font-size: 0.24rem;
    color:#4ebbfe ;
    text-align: center;
    padding-top: 0.1rem;
    box-sizing: border-box;
    opacity: 0.5;
}
footer > a.hot{
    opacity: 1;
}
footer >a >img{
    width: 0.5rem;
    height: 0.5rem;
}
footer .footerMessage{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footerMessage  .footerMessageone{
    font-size: 0.22rem;
    color:#ffffff;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%);
    padding: 0.08rem 0.2rem;
    border-radius:0.3rem ;
}
footer .footerMessage  .footerMessagetwo{
    font-size: 0.22rem;
    color:#ffffff;
    background: #3bacfe;
    margin-left: 0.3rem;
    padding: 0.08rem 0.2rem;
    border-radius:0.3rem ;
}